name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Login to docker hub
      uses: docker/login-action@v3
      with:
        username: luvkushdocker
        password: dckr_pat_wz0Eqow_qbDLkTnI3DA97p9XOTk
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag luvkushdocker/test_repo:${{github.sha}}
    - name: Local docker image tagging   
      run: docker tag luvkushdocker/test_repo:${{github.sha}} luvkushdocker/test_repo:latest
    - name: push dockder image to  dockerhub
      run: docker push luvkushdocker/test_repo:latest


