name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag python_docker_image:b7895c4eb456ef26d4ceef39120c02f675d441e5
    - name: Local docker image tagging   
      run: docker tag python_docker_image:b7895c4eb456ef26d4ceef39120c02f675d441e5 new-repo:latest
    - name: push dockder image to  dockerhub
      run: docker push luvkushdocker/test_repo:python_docker_image:b7895c4eb456ef26d4ceef39120c02f675d441e5


